.elementor-17003 .elementor-element.elementor-element-7086dda {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-7086dda:not(.elementor-motion-effects-element-type-background),
.elementor-17003 .elementor-element.elementor-element-7086dda>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, var(--e-global-color-26017a8) 0%, #0E2629 100%);
}

.elementor-17003 .elementor-element.elementor-element-2852544 {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 65px;
  --padding-bottom: 65px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-30e0c2d {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-30e0c2d:not(.elementor-motion-effects-element-type-background),
.elementor-17003 .elementor-element.elementor-element-30e0c2d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #0E2629B5;
}

.elementor-17003 .elementor-element.elementor-element-06b3563 {
  --display: flex;
  --justify-content: center;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 0px;
}

.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-17003 .elementor-element.elementor-element-e5ea3fa {
  width: auto;
  max-width: auto;
  text-align: left;
}

.elementor-17003 .elementor-element.elementor-element-e5ea3fa>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-17003 .elementor-element.elementor-element-81f720c {
  --display: flex;
  --justify-content: center;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: -13px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 0px;
}

.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}

.elementor-17003 .elementor-element.elementor-element-02f192c>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 16px 0px 0px;
}

.elementor-17003 .elementor-element.elementor-element-02f192c {
  text-align: right;
  color: var(--e-global-color-4f00c34);
  font-family: "Jost", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 2.2px;
  word-spacing: 3.2px;
}

.elementor-17003 .elementor-element.elementor-element-a70d644 {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-a293340>.elementor-widget-container {
  margin: 0px 9px 0px -15px;
  padding: 0px 0px 0px 0px;
}

.elementor-17003 .elementor-element.elementor-element-5fc82e3 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 88px;
  --padding-bottom: 80px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-5fc82e3:not(.elementor-motion-effects-element-type-background),
.elementor-17003 .elementor-element.elementor-element-5fc82e3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #102B2EFA 0%, #0E2629 100%);
}

.elementor-17003 .elementor-element.elementor-element-9f7b276 {
  width: auto;
  max-width: auto;
  bottom: 60px;
}

.elementor-17003 .elementor-element.elementor-element-9f7b276>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 25px 0px;
}

body:not(.rtl) .elementor-17003 .elementor-element.elementor-element-9f7b276 {
  left: 0px;
}

body.rtl .elementor-17003 .elementor-element.elementor-element-9f7b276 {
  right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-70cda8b {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-1eabbbe {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 71px;
  --padding-right: 95px;
}

.elementor-17003 .elementor-element.elementor-element-714505e {
  --display: flex;
  --margin-top: 1px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
  color: var(--e-global-color-primary);
}

.elementor-17003 .elementor-element.elementor-element-e69e091>.elementor-widget-container {
  margin: 0px 0px -3px 0px;
  padding: 3px 35px 0px 38px;
}

.elementor-17003 .elementor-element.elementor-element-e69e091 .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
  color: var(--e-global-color-4f00c34);
}

.elementor-17003 .elementor-element.elementor-element-d7a0d68>.elementor-widget-container {
  margin: 0px 0px -4px 0px;
  padding: 0px 32px 0px 38px;
}

.elementor-17003 .elementor-element.elementor-element-d7a0d68 {
  color: #B8D1D4;
  font-family: var(--e-global-typography-618e549-font-family), Sans-serif;
  font-size: var(--e-global-typography-618e549-font-size);
  font-weight: var(--e-global-typography-618e549-font-weight);
  line-height: var(--e-global-typography-618e549-line-height);
}

.elementor-17003 .elementor-element.elementor-element-7820029 .elementor-repeater-item-2c2aff5.elementor-social-icon {
  background-color: #02010105;
}

.elementor-17003 .elementor-element.elementor-element-7820029 .elementor-repeater-item-634d9ee.elementor-social-icon {
  background-color: #02010100;
}

.elementor-17003 .elementor-element.elementor-element-7820029 .elementor-repeater-item-b50095f.elementor-social-icon {
  background-color: #02010100;
}

.elementor-17003 .elementor-element.elementor-element-7820029 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 18px;
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}

.elementor-17003 .elementor-element.elementor-element-7820029 .elementor-widget-container {
  text-align: left;
}

.elementor-17003 .elementor-element.elementor-element-7820029>.elementor-widget-container {
  background-color: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 19px 0px 29px;
  background-image: linear-gradient(180deg, #102B2E00 0%, #0B0D2900 100%);
}

.elementor-17003 .elementor-element.elementor-element-9ef2124 {
  --display: flex;
  --margin-top: 4px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 11px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-5a34a37>.elementor-widget-container {
  margin: 0px 0px -3px 0px;
  padding: 0px 03px 0px 0px;
}

.elementor-17003 .elementor-element.elementor-element-5a34a37 .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
  color: var(--e-global-color-4f00c34);
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}

.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}

.elementor-17003 .elementor-element.elementor-element-303fafe>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px/2);
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px/2);
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(5px/2);
  margin-left: calc(5px/2);
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px/2);
  margin-left: calc(-5px/2);
}

body.rtl .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-5px/2);
}

body:not(.rtl) .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-5px/2);
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-icon i {
  transition: color 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-303fafe {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-618e549-font-family), Sans-serif;
  font-size: var(--e-global-typography-618e549-font-size);
  font-weight: var(--e-global-typography-618e549-font-weight);
  line-height: var(--e-global-typography-618e549-line-height);
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-text {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: #B8D1D4;
  transition: color 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}

.elementor-17003 .elementor-element.elementor-element-4cd65a4 {
  --display: flex;
  --margin-top: 4px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-f233af1>.elementor-widget-container {
  margin: 0px 0px -3px -6px;
  padding: 0px 0px 0px 0px;
}

.elementor-17003 .elementor-element.elementor-element-f233af1 {
  text-align: center;
}

.elementor-17003 .elementor-element.elementor-element-f233af1 .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
  color: var(--e-global-color-4f00c34);
}

.elementor-17003 .elementor-element.elementor-element-0f309f6>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 46px;
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px/2);
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px/2);
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(5px/2);
  margin-left: calc(5px/2);
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px/2);
  margin-left: calc(-5px/2);
}

body.rtl .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-5px/2);
}

body:not(.rtl) .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-5px/2);
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-icon i {
  transition: color 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-618e549-font-family), Sans-serif;
  font-size: var(--e-global-typography-618e549-font-size);
  font-weight: var(--e-global-typography-618e549-font-weight);
  line-height: var(--e-global-typography-618e549-line-height);
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-text {
  color: #B8D1D4;
  transition: color 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}

.elementor-17003 .elementor-element.elementor-element-2a54f3a {
  --display: flex;
  --margin-top: 3px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 2px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-17003 .elementor-element.elementor-element-8728754>.elementor-widget-container {
  margin: 0px 0px -4px 0px;
  padding: 0px 30px 0px 35px;
}

.elementor-17003 .elementor-element.elementor-element-8728754 {
  text-align: left;
}

.elementor-17003 .elementor-element.elementor-element-8728754 .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
  color: var(--e-global-color-4f00c34);
}

.elementor-17003 .elementor-element.elementor-element-40a075d>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 35px;
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(13px/2);
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(13px/2);
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(13px/2);
  margin-left: calc(13px/2);
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-13px/2);
  margin-left: calc(-13px/2);
}

body.rtl .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-13px/2);
}

body:not(.rtl) .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-13px/2);
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-icon i {
  color: var(--e-global-color-secondary);
  transition: color 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-icon svg {
  fill: var(--e-global-color-secondary);
  transition: fill 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-40a075d {
  --e-icon-list-icon-size: 16px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 5px;
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-icon {
  padding-right: 8px;
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-618e549-font-family), Sans-serif;
  font-size: var(--e-global-typography-618e549-font-size);
  font-weight: var(--e-global-typography-618e549-font-weight);
  line-height: var(--e-global-typography-618e549-line-height);
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-text {
  color: #B8D1D4;
  transition: color 0.3s;
}

.elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}

@media(max-width:1366px) {
  .elementor-widget-image .widget-image-caption {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-widget-text-editor {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-9f7b276 {
    z-index: 0;
  }

  .elementor-17003 .elementor-element.elementor-element-1eabbbe {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-widget-heading .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-e69e091>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-e69e091 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-d7a0d68>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-d7a0d68 {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-7820029>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-widget-icon-list .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1>.elementor-widget-container {
    margin: 0px 0px 0px -15px;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-8728754 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }
}

@media(min-width:768px) {
  .elementor-17003 .elementor-element.elementor-element-2852544 {
    --width: 100%;
  }

  .elementor-17003 .elementor-element.elementor-element-06b3563 {
    --width: 17%;
  }

  .elementor-17003 .elementor-element.elementor-element-81f720c {
    --width: 40.333%;
  }

  .elementor-17003 .elementor-element.elementor-element-a70d644 {
    --width: 42.333%;
  }

  .elementor-17003 .elementor-element.elementor-element-714505e {
    --width: 33.12%;
  }

  .elementor-17003 .elementor-element.elementor-element-9ef2124 {
    --width: 16.798%;
  }

  .elementor-17003 .elementor-element.elementor-element-4cd65a4 {
    --width: 19.227%;
  }

  .elementor-17003 .elementor-element.elementor-element-2a54f3a {
    --width: 30.186%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-17003 .elementor-element.elementor-element-06b3563 {
    --width: 20%;
  }

  .elementor-17003 .elementor-element.elementor-element-81f720c {
    --width: 40%;
  }

  .elementor-17003 .elementor-element.elementor-element-a70d644 {
    --width: 40%;
  }

  .elementor-17003 .elementor-element.elementor-element-714505e {
    --width: 34%;
  }

  .elementor-17003 .elementor-element.elementor-element-9ef2124 {
    --width: 22%;
  }

  .elementor-17003 .elementor-element.elementor-element-4cd65a4 {
    --width: 17%;
  }

  .elementor-17003 .elementor-element.elementor-element-2a54f3a {
    --width: 27%;
  }
}

@media(max-width:1024px) {
  .elementor-17003 .elementor-element.elementor-element-7086dda {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-2852544 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
  }

  .elementor-17003 .elementor-element.elementor-element-06b3563 {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-widget-image .widget-image-caption {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-e5ea3fa>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-e5ea3fa img {
    width: 100%;
  }

  .elementor-17003 .elementor-element.elementor-element-81f720c {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-widget-text-editor {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-02f192c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-02f192c {
    text-align: center;
  }

  .elementor-17003 .elementor-element.elementor-element-a70d644 {
    --justify-content: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-5fc82e3 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-9f7b276 {
    bottom: -64px;
  }

  .elementor-17003 .elementor-element.elementor-element-70cda8b {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-1eabbbe {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }

  .elementor-17003 .elementor-element.elementor-element-714505e {
    --margin-top: 0px;
    --margin-bottom: 15px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 15px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 20px;
  }

  .elementor-widget-heading .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-e69e091>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-e69e091 {
    text-align: left;
  }

  .elementor-17003 .elementor-element.elementor-element-e69e091 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-d7a0d68>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-d7a0d68 {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-7820029 .elementor-widget-container {
    text-align: left;
  }

  .elementor-17003 .elementor-element.elementor-element-7820029>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-9ef2124 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 15px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37 {
    text-align: left;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-widget-icon-list .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-303fafe>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-4cd65a4 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 15px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1 {
    text-align: left;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-0f309f6>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-2a54f3a {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 15px;
    --padding-bottom: 0px;
    --padding-left: 7px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-8728754>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-8728754 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-40a075d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }
}

@media(max-width:767px) {
  .elementor-17003 .elementor-element.elementor-element-7086dda {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px;
  }

  .elementor-17003 .elementor-element.elementor-element-2852544 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 30px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-06b3563 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 100px;
    --padding-right: 100px;
  }

  .elementor-widget-image .widget-image-caption {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-e5ea3fa>.elementor-widget-container {
    margin: 0px 0px 13px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-e5ea3fa {
    text-align: center;
  }

  .elementor-17003 .elementor-element.elementor-element-e5ea3fa img {
    width: 130px;
  }

  .elementor-widget-text-editor {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-02f192c>.elementor-widget-container {
    margin: 0px 0px 9px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-02f192c {
    font-size: 18px;
  }

  .elementor-17003 .elementor-element.elementor-element-a70d644 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-a293340 {
    width: 100%;
    max-width: 100%;
  }

  .elementor-17003 .elementor-element.elementor-element-a293340>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  body:not(.rtl) .elementor-17003 .elementor-element.elementor-element-9f7b276 {
    left: -19px;
  }

  body.rtl .elementor-17003 .elementor-element.elementor-element-9f7b276 {
    right: -19px;
  }

  .elementor-17003 .elementor-element.elementor-element-9f7b276 {
    bottom: -397px;
  }

  .elementor-17003 .elementor-element.elementor-element-714505e {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-widget-heading .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-e69e091 {
    text-align: center;
  }

  .elementor-17003 .elementor-element.elementor-element-e69e091 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-d7a0d68 {
    text-align: center;
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-7820029 .elementor-widget-container {
    text-align: center;
  }

  .elementor-17003 .elementor-element.elementor-element-7820029 {
    --icon-size: 14px;
  }

  .elementor-17003 .elementor-element.elementor-element-9ef2124 {
    --width: 50%;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37.elementor-element {
    --align-self: center;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37 {
    text-align: left;
  }

  .elementor-17003 .elementor-element.elementor-element-5a34a37 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-widget-icon-list .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-303fafe.elementor-element {
    --align-self: center;
  }

  .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-303fafe .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-4cd65a4 {
    --width: 46%;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1>.elementor-widget-container {
    margin: 0px 0px 0px -25px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1.elementor-element {
    --align-self: center;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1 {
    text-align: left;
  }

  .elementor-17003 .elementor-element.elementor-element-f233af1 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-0f309f6.elementor-element {
    --align-self: center;
  }

  .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-0f309f6 .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-2a54f3a {
    --width: 100%;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-8728754>.elementor-widget-container {
    margin: 0px 0px -12px 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-8728754 {
    text-align: center;
  }

  .elementor-17003 .elementor-element.elementor-element-8728754 .elementor-heading-title {
    line-height: var(--e-global-typography-primary-line-height);
  }

  .elementor-17003 .elementor-element.elementor-element-40a075d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
  }

  .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-17003 .elementor-element.elementor-element-40a075d .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-618e549-font-size);
    line-height: var(--e-global-typography-618e549-line-height);
  }
}